/* 색상 변수 */
:root {
  --theme-bright: #fff;
  --theme-default: #14182c;
  --theme-dark: #0f0f00;
  --theme-primary: #24388d;
  --theme-secondary: #bae5fd;
  --theme-disable: #878787;
  --color-gradient-start: #263e83;
  --color-gradient-end: #102457;
}